@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
/* #E25B58 */
/* #30373F */
@-webkit-keyframes example {
    from {padding-top: 150px;
    	opacity: 0;}
    to {padding-top:: 0px;
    	opacity: 1;}
}

@-webkit-keyframes hover-bread-crumb{
	from{background-color: #30373F;}
	to{background-color: #444444;}
}

body{
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

body,html{
	height: 100%;
}

h1{
	font-family: Oswald;
	font-size: 52px;
	font-weight: 700;
	color: #444444;
}

h4{
	font-family: Montserrat;
	font-size: 12px;
	line-height: 18px;
}

h3{
	font-family: Montserrat;
	font-size: 14px;
	width: auto;
	border-bottom: 1px dotted white;
	padding-bottom: 5px;
}

h2{
	font-family: Oswald;
	font-size: 18px;
}

nav{
	width: 10%;
	height: 100%;
	min-height: 100%;
	background-color: #30373F;
	padding: 20px;
	float: left;
	position: fixed;
	min-width: 10%;
	text-align: left;
}

nav a{
	font-family: Montserrat;
	font-size: 12px;
	color: white;
}

nav a:hover{
	text-decoration: none;
	color: #E25B58;
}

#content{
	width: 85%;
	float: left;
	padding: 100px 85px 70px 85px;
	position: absolute;
	margin-left: 0%;
	font-family: Merriweather;
	font-size: 16px;
	line-height: 32px;
	color: #333333;
	text-align: left;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
}

#content-inside{
	background-color: white;
	padding: 70px 100px 70px 100px;
	-webkit-box-shadow: 0px 1px 1px #ccc;
  	-moz-box-shadow:    0px 1px 1px #ccc;
  	box-shadow:         0px 1px 1px #ccc;
  	border-top: 1px solid #EEEEEE;
}

#skip-side{
	width: 15%;
	height: 100%;
	min-height: 100%;
	background-color: #383D43;
	float: right;
	overflow-x: scroll;
	position: fixed;
	margin-left: 85%;
	min-width: 15%;
}

#current-lesson{
	width: auto;
	height: auto;
	padding: 5px 15px 10px 15px;
	overflow: hidden;
	background-color: #E25B58;
	color: white;
}

#next-lessons-label{
	background-color: #CB524F;
	height: auto;
	overflow: hidden;
	padding: 0px 15px 8px 15px;
}

.next-lesson{
	width: auto;
	height: auto;
	padding: 0px 10px 10px 15px;
	overflow: hidden;
	color: white;
	border-bottom: 1px dotted #AAAAAA;
}

.next-lesson:hover{
	background-color: #E25B58;
}

.next-lesson:active{
	background-color: #CB524F;
}

.logo-part-one{
	font-family: Oswald;
	font-size: 24px;
	color: white;
	font-weight: 400;
}

.logo-part-two{
	font-family:Oswald;
	font-size: 25px;
	font-weight: 300;
	color: #E25B58
}

::-webkit-scrollbar {
    width: 3px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background-color: #777777;
}
::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #f2f2f2;
}

#navbar{
	width: 85%;
	height: 50px;
	background-color: #383D43;
	margin-bottom: -50px;
	line-height: 50px;
	padding-left: 85px;
	padding-right: 85px;
}

#inside-links{
	float: right;
	line-height: 39px;
}

#navbar a{
	font-family: Montserrat;
	font-size: 12px;
	color: white;
	padding-left: 30px;
}

#navbar a:hover{
	color: black;
}